# Datos y carpetas locales
omega/
pipe/
results/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Imagenes temporales
*.png

# Archivos de datos grandes
*.fits
*.fit
*.csv

# Entornos virtuales
venv/
.env/
env/
